.centerDiv {
    border: 1px solid black;
    width: 500px;
    padding: 30px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    
  }
  .input {
    width: 350px;
    height: 29px;
    margin-bottom: 5px;
  }
  
  .uploadBtn {
    margin-top: 30px;
    width: 90%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
  }
  .uploadBtn:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }